<h1>Home#index</h1>


<%= form_tag("/sync", method: "post") do %>
	From:
		<%= select_tag(:from_account_id, options_from_collection_for_select(current_user.account_link, :id, :username)) %>
	To:
		<%= select_tag(:to_account_id, options_from_collection_for_select(current_user.account_link, :id, :username)) %>

  <%= submit_tag("Sync") %>
<% end %>

<div>
	<a href="/auth/google_oauth2">Link a Google Account</a>
</div>